$Georgia: Georgia,"Times New Roman","Bitstream Charter",Times,serif;

@mixin cupid-green {
  background-color: #7fbf4d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7fbf4d), to(#63a62f));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: linear-gradient(top, #7fbf4d, #63a62f);
  border: 1px solid #63a62f;
  border-bottom: 1px solid #5b992b;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
  -ms-box-shadow: inset 0 1px 0 0 #96ca6d;
  -o-box-shadow: inset 0 1px 0 0 #96ca6d;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  color: #D7FFD7;
  line-height: 1.5;
  padding: 10px 2% 8px 2%;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  width: 66%;
  text-decoration: none;
  font-size: 1.8em;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  
  &:hover {
    color: #BAF0B4;
    background-color: #76b347;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#76b347), to(#5e9e2e));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
    background-image: linear-gradient(top, #76b347, #5e9e2e);
    -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
    -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
    -ms-box-shadow: inset 0 1px 0 0 #8dbf67;
    -o-box-shadow: inset 0 1px 0 0 #8dbf67;
    box-shadow: inset 0 1px 0 0 #8dbf67;
    cursor: pointer; }
  &:active {
    border: 1px solid #5b992b;
    border-bottom: 1px solid #538c27;
    -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    -ms-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    -o-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee; }
}

@mixin cupid-blue {
  background-color: #d7e5f5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d7e5f5), to(#cbe0f5));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #d7e5f5, #cbe0f5);
  background-image: -moz-linear-gradient(top, #d7e5f5, #cbe0f5);
  background-image: -ms-linear-gradient(top, #d7e5f5, #cbe0f5);
  background-image: -o-linear-gradient(top, #d7e5f5, #cbe0f5);
  background-image: linear-gradient(top, #d7e5f5, #cbe0f5);
  border-top: 1px solid #abbbcc;
  border-left: 1px solid #a7b6c7;
  border-bottom: 1px solid #a1afbf;
  border-right: 1px solid #a7b6c7;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 15px;
  -webkit-box-shadow: inset 0 1px 0 0 white;
  -moz-box-shadow: inset 0 1px 0 0 white;
  -ms-box-shadow: inset 0 1px 0 0 white;
  -o-box-shadow: inset 0 1px 0 0 white;
  box-shadow: inset 0 1px 0 0 white;
  color: #1a3e66;
  line-height: 1;
  padding: 0.7em 1.4em 0.6em 1.4em;
  font-size: 12px;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
  text-decoration: none;

  &:hover {
    background-color: #ccd9e8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ccd9e8), to(#c1d4e8));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #ccd9e8, #c1d4e8);
    background-image: -moz-linear-gradient(top, #ccd9e8, #c1d4e8);
    background-image: -ms-linear-gradient(top, #ccd9e8, #c1d4e8);
    background-image: -o-linear-gradient(top, #ccd9e8, #c1d4e8);
    background-image: linear-gradient(top, #ccd9e8, #c1d4e8);
    border-top: 1px solid #a1afbf;
    border-left: 1px solid #9caaba;
    border-bottom: 1px solid #96a3b3;
    border-right: 1px solid #9caaba;
    -webkit-box-shadow: inset 0 1px 0 0 #f2f2f2;
    -moz-box-shadow: inset 0 1px 0 0 #f2f2f2;
    -ms-box-shadow: inset 0 1px 0 0 #f2f2f2;
    -o-box-shadow: inset 0 1px 0 0 #f2f2f2;
    box-shadow: inset 0 1px 0 0 #f2f2f2;
    color: #163659;
    cursor: pointer; }
  &:active {
    border: 1px solid #8c98a7;
    -webkit-box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eeeeee;
    -moz-box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eeeeee;
    -ms-box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eeeeee;
    -o-box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eeeeee;
    box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eeeeee; }
}

#icon-wp-app-store {
    background: url("../img/wpas-icon-32.png") no-repeat;
}

p, ul, ol, blockquote, input, select { font-size: inherit; }
body, td, textarea, input, select { font-size: 12px; }

#wp-app-store {
    > .header {
        margin-bottom: 8px;
        overflow: hidden;
        
        h2 {
            float: left;
            font-family: $Georgia;
        }
            
        a {
            text-decoration: none;
        }
        
        .actions {
            float: right;
            color: #999;
            font-size: 14px;
            margin: 1.2em 1em 0 0;
        }
        
        .sep {
            margin: 0 0.5em;
            color: #ccc;
        }
    }
    
    .content-wrapper {
        overflow: hidden;
        clear: both;
        border-top: 1px solid #ccc;
        padding: 20px 0;
    }
    
    a:focus {
        color: #21759B;
    }
    
    a:hover {
        color: #D54E21;
    }
    
    .section-title {
        margin-bottom: 15px;
        
        h3 {
            display: inline;
            font-size: 1.4em;
            font-weight: normal;
            margin-top: 0;
        }
    }
    
    .product-grid {
        
        .product {
            width: 32%;
            margin: 0 2% 2% 0;
            display: block;
            text-decoration: none;
            float: left;
            
            &:nth-of-type(3n),
            &.last-col {
                margin-right: 0;
            }
            
            .screenshot {
                border: 1px solid #ccc;
                margin-bottom: 0.8em;
            }
            
            img {
                width: 100%;
                height: auto;
                display: block;
            }
            
            h4 {
                font-size: 1.4em;
                margin: 0;
                display: inline;
                color: #333;
                font-weight: normal;
            }
            
            .publisher {
                display: inline;
                margin: 0;
                color: #999;
                white-space: nowrap;
                font-size: 1.1em;
            }
            
            .caption {
                margin-left: 0.5em;
            }
            
            &:hover {
                h4 {
                    color: #666;
                }
            }
        }
    }
    
    .home {
        overflow: hidden;
        
        .product-grid {
            width: 46.5%;
            padding-bottom: 200px;

            .product {
                width: 48.5%;
                margin: 0 0 3% 0;

                &:nth-of-type(2n),
                &.last-col {
                    float: right;
                }
            }
        }
        
        .product-grid.themes {
            float: left;
        }
        
        .product-grid.plugins {
            float: right;
        }
        
        .grid-sep {
            float: left;
            width: 4%;
            height: 1000px;
            margin: 0 1.5%;
            background: url(../img/grid-sep.png);
        }
        
        .more-link {
            clear: both;
        }
        
        .more {
            text-decoration: none;
            color: #999;
            margin-left: 0.5em;
            
            &:hover {
                color: #666;
            }
        }
    }
    
    .product.single {
        .sidebar {
            float: left;
            width: 30%;
        }
            
        .featured-image {
            display: block;
            width: 100%;
            border: 1px solid #ccc;
            margin-bottom: 20px;
        }
        
        .install {
            overflow: hidden;
            margin-bottom: 40px;
        }
        
        .install-button {
            @include cupid-green;
            display: block;
            float: right;
        }
        
        .installed-msg {
            float: right;
            width: 70%;
            text-align: right;
        }
        
        .note {
            clear: both;
            text-align: right;
            padding-top: 0.5em;
        }
        
        .price {
            float: left;
            width: 26%;
            font-size: 3em;
            font-style: italic;
            color: #777;
            line-height: 1.3em;
            padding-right: 1%;
            font-family: "Georgia", serif;
        }
        
        .links {
            margin: 1em 0 2em 0;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            padding: 1em 0;
            
            li {
                display: inline;
                margin-right: 2%;
                border-right: 1px solid #ccc;
                padding-right: 2%;
            }
            
            li:last-of-type {
                border: 0;
            }
            
            a {
                text-decoration: none;
                font-size: 1.1em;
                /*
                border: 1px solid #ccc;
                padding: 0.6em 1em 0.5em 1em;
                border-radius: 15px;
                */
            
                span {
                    background: url(../img/icon-external-link.gif) right top no-repeat;
                    padding-right: 17px;
                }
            }
        }
        
        .info, .requirements {
            font-size: 1.1em;
            
            a {
                text-decoration: none;
            }
        }
        
        .more {
            text-decoration: none;
            
            span {
                font-size: 0.7em;
                position: relative;
                top: -0.1em;
            }
        }
        
        .screenshots {
            
            ul {
                overflow: hidden;
                margin: 0;
            }
            
            li {
                float: left;
                width: 18.8%;
                margin: 0 1.4% 1.4% 0;
            }
            
            &:nth-of-type(5n),
            .last-col {
                margin-right: 0;
            }
            
            img {
                display: block;
                width: 100%;
                border: 1px solid #ccc;
            }
            
        }
        
        .main {
            float: right;
            width: 68%;
            
            > h2 {
                padding: 0;
                display: inline;
                color: #333;
            }
            
            > .publishers {
                display: inline;
                margin: 0 0 0 0.5em;
                color: #999;
                white-space: nowrap;
                font-size: 1.1em;
                
                a {
                    color: #999;
                    text-decoration: none;
                    
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            
            .copy {
                font-size: 1.2em;
                line-height: 1.4em;
                padding-bottom: 0.5em;
            }
        }
    }
    
    .paging {
        text-align: center;
        padding-top: 20px;
        clear: both;
        
        a {
            font-size: 1.1em;
            border: 1px solid #ccc;
            padding: 0.3em 0.5em 0.2em 0.5em;
            margin-right: 0.5em;
            text-decoration: none;
            line-height: 1em;
            color: #666;
            
            &:hover, .current {
                color: #333;
                border-color: #999;
            }
        }
        
        .dots {
            margin-right: 0.5em;
        }
        
        .current {
            font-weight: bold;
        }
    }
    
    .archive {
        .section-title {
            span {
                color: #999;
                margin-left: 0.5em;
            }
        }
        
        .product-grid {
            float: left;
            width: 83%;
        }
        
        .sidebar {
            float: right;
            width: 13%;
            border: 1px solid #ccc;
            padding: 10px 1%;
            
            a {
                text-decoration: none;
            }
            
            p {
                margin: 0 0 0.5em 0;
                color: #666;
                line-height: 1.2em;
            }
            
            li {
                margin-bottom: 0.2em;
                overflow: hidden;
                color: #666;
                
                input {
                    float: left;
                    margin-right: 5px;
                }
                
                span {
                    float: left;
                }
            }
            
            h4 {
                font-size: 1em;
                font-weight: normal;
                text-transform: uppercase;
                color: #bbb;
                letter-spacing: 1px;
                margin: 0 0 0.5em 0;
            }
            
            .block {
                border-bottom: 1px solid #ccc;
                padding-bottom: 10px;
                margin-bottom: 12px;
            }
            
            .block:last-child {
                margin: 0;
                padding: 0;
                border: 0;
            }
            
            .newsletter {
                input {
                    width: 98%;
                    margin-bottom: 8px;
                }
            }
                
            button {
                color: #666;
                
                &:hover {
                    color: #333;
                }
            }
        }
    }
    
    .installing {
        .featured-image {
            width: 30%;
            float: left;
            border: 1px solid #ccc;
        }
        
        .details {
            width: 65%;
            float: left;
            margin-left: 2%;
        }
        
        p {
            font-size: 1.1em;
        }
    }
    
    .purchases {
        .section-title {
            margin-bottom: 0;
        }
        
        .listing {
            min-width: 800px;
            
            .product {
                border-bottom: 1px solid #ccc;
                padding: 20px 0;
                overflow: hidden;
                
                p {
                    margin: 0 0 0.5em 0;
                    line-height: 1em;
                }
                
                .button:hover {
                    color: #000;
                }
                
                .button-wrap {
                    padding-top: 0.2em;
                }
            }
            
            .screenshot {
                display: block;
                width: 10%;
                border: 1px solid #ccc;
                float: left;
                
                img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }
            
            .details {
                float: left;
                width: 30%;
                margin: 2px 0 0 2%;
                
                h4 {
                    font-size: 1.6em;
                    font-weight: normal;
                    margin: 0 0 0.2em 0;
                }
                
                p {
                    margin: 0;
                    color: #999;
                }
                
                .publisher {
                    font-size: 1.2em;
                    margin-bottom: 0.8em;
                }
                
                .date {
                }
            }
            
            .status {
                float: left;
                margin: 10px 0 0 0;
                width: 35%;
                text-align: right;
            }
            
            .cost {
                float: left;
                margin: 10px 0 0 0;
                width: 22%;
                text-align: right;
            }
        }
    }
        
    .bonuses {
        .bonus {
            border: 1px solid #ccc;
            width: 46%;
            padding: 1%;
            overflow: hidden;
            float: left;
            margin: 0 2% 2% 0;
            
            &.even {
                float: right;
                margin-right: 0;
            }
            
            .publisher-title {
                font-size: 1.4em;
                line-height: 1.1em;
                width: 30%;
                margin: 0;
                padding: 0;
                float: left;
            }
            
            .applicable {
                float: right;
                width: 60%;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    #wp-app-store {
        .product.single {
            .main {
                /*
                .copy .expandable {
                    -moz-column-count: 2;
                    -moz-column-gap: 40px;
                    -webkit-column-count: 2;
                    -webkit-column-gap: 40px;
                    column-count: 2;
                    column-gap: 40px;
                }
                */
            }
        }
    }
}